@charset "utf-8";
body {
    background-color:#eeeeee ;
}

h1 {
    color: cadetblue;
    text-align: center;
    padding: 50px;
}
.contents {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}
     
.title {
    color: cadetblue;
    background-color: #eeeeee;
    margin: 0 auto;
    padding-right: 10px;
    padding: 5px 10px 5px;
    border-left:10px solid cadetblue;
    
    
    
}


@media screen and (max-width: 400px) {
    .contents {
        flex-direction: column;
        
}