@charset "utf-8";

.header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
}
.nav_list {
    display: flex;
}

.right {
    font-size: 16px;
    padding-right: 10px;
    padding: 5px 30px 5px;
}    
.right + li {
    border-left: 1px solid #000;
    padding-left: 10px;
    
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;

        
    }
    .nav_list {
        flex-direction: column;
    }

    .right {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #000; 
}
    }
    .right + li {
    border-left: none;
}
nav{
    width: 100px
}
