@charset "utf-8";

.header {
    max-width: 960px;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
.left {
    margin-right:auto;
    font-size: 30px;
}
.right {
    font-size: 10px;  
}    
.right + li {
    border-left: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        
    }
    .right {
        margin-right: auto;
    }
    .right + li {
    border-left: none;
    border-bottom: 1px solid #000   
}
}
