@charset "utf-8";

.bluebox-area {
    max-width: 960px;
    display: flex;
    justify-content: space-around;
}
.bluebox  { 
    width: 300px;
    height: 300px;
    background-color: blue;
}
.redbox-area {
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redbox {
    width: 300px;
    height: 300px;
    background-color: red;
}

    
