@charset "utf-8";
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.86%;
    /*55 /1920*100=2.86% */
    padding-right: 7.55%;
    /*145 / 1920*100=7.55% */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

.logo {
    width: 226px;
}
.header__nav ul {
    display: flex;
    gap: 70px;
}
.header__nav a {
    color:#fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;

}

.hero_area {
    background-color: #e8d9bf;
}
.hero_first {
    font-size: 30px;
    text-align: center;
    padding: 100px 45px;
}

.hero_second {
     font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    text-align: center;
}

.hero_third {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 48px 89px;
}
@media screen and (min-width: 1920px) {
        .sp-br {
        display: none;
    }
}
@media screen and (max-width: 1100px) {
        .sp-br {
        display: inline;
    }
        .hero_first {
        font-size: 17px;
    }
       .hero_second {
        font-size: 38px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-align: center;
    } 
}

.hamberger,
.header__nav-sp {
    display: none;
}
@media screen and (max-width: 1100px) {
    .header__nav {
        display: none;
    }
    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index:99999;
        cursor: pointer;
    }
    .hamburger span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 13px;
        transition: 0.3s;
    }
    .hamburger span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: -13px;
        transition: 0.3s;
    }
    .hamburger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: -13px;
        transition: 0.3s;
}
    .open span {
    background-color: transparent;

}
    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }
    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
    .header__nav-sp {
        z-index:99998;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000c9;
    }
.header__nav-sp a {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;

}
.header__nav-sp ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
}

.about-item {
    display: flex;
    justify-content: center;
}

.about-100 {
    width: 500px;
    height: 560px;
}


.about-list {
    padding-left: 76px;
}

.heading-h2 img{
    height: 78px;
    width: auto;
}

.about_first {
    font-size: 44px;
    line-height: 1.38;
    padding: 60px 0px 37px 0px;
}
.about_second {
    font-size: 16px;
    line-height: 1.62;
}
@media screen and (max-width: 768px) {
    .about_item {
        display: flex;
        flex-direction: column;
        width: 100px;
    } 

}@media screen and (max-width: 1100px) {
    .about_first {
        font-size: 36px;
    }    
    
    .about_second {
        font-size: 17px;
    }
    } 

.menu-logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.menu-item {
    padding-top: 40px;
    margin-bottom: 91px;
    display: flex;
    justify-content: center;
    
}

.menu-item img {
    width: 300px;
    height: 200px;
    padding-right:47px;
}

.menu-title {
    color: #d30202;
    font-size: 38px;
    padding-left: 10px;
    margin-top: -20px;
    margin-bottom: 17px;
}
.menu-detail {
    font-size: 17px;
    line-height: 1.47;
}

@media screen and (max-width: 768px) {
    .menu_item {
        display: flex;
        flex-direction: column;
        width: 100px;
    } 

}


.event_logo {
    padding-top: 62px;
    display: flex;
    justify-content: center;
}

.event_list {
    margin-top: 35px;
    margin-left: 460px;
    margin-bottom: 75px;
    margin-right: 460px;
    border: 3px solid #000 ;
    background-color: #fff;
    padding: 35px 161px 42px 157px;
    
    
}
.event_item {
    display: flex;
    font-size: 23px;
    margin-bottom: 26px;

}


.event_date {
    display: flex;
    justify-content: flex-start;
    padding-right: 40px ;
}
.event_title {
    border-bottom: 1px solid #4f260b;
    justify-content: flex-start;
}
@media screen and (max-width: 768px) {
    .event_item {
        flex-direction: column;
        width: 100px;
    } 
}

#access.heading-h2 {
    margin-bottom: 46px;
}



.map iframe {
   filter: grayscale(100%) invert(92%) contrast(83%); 
    width: 100%;
    height: 400px;
}

.slick-dots {
    bottom: 16px;
}

.slick-dots li button:before {
    color:#fff;
}

.slick-dots li.slick-active button before {
    color: #fff;
}

.footer_list {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 72px;
}

.footer_item {
    padding-left: 66px;
}

.footer_detail {
    font-size: 20px;
    padding-bottom: 22px;
}

.copy {
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .footer_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    } 
}
     .footer_item {
        margin-top: 27px;
    } 

.toTOP {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}
